<ion-view>
 <ion-nav-bar class="bar-stable det_page">
        <ion-nav-buttons side="right" >
            <button class="button button-icon button-energized " ng-click="myGoBack()">
              <img src="img/arrow.png"/>
            </button>
        </ion-nav-buttons>
  
       
    </ion-nav-bar>
    
       
             
  <ion-content>
 
 <div class="news_detail">
   <img src="img/dengue-20161013-172741.jpg"/>
   <div class="padding">
        <p class="title_hosp">Combate ao aedes aegypt</p>
         
        <p class="text-justify">
  O período chuvoso está de volta e o trabalho de combate ao Mosquito Aedes Aegypti, transmissor de doenças como a dengue, Zika vírus e Chicungunya, volta a ser intensificado com a Força Tarefa. Nos próximos dias, você poderá receber em sua casa a visita de uma agente de endemias, agentes comunitários de saúde, ou militar do Corpo de Bombeiros do Estado de Goiás. Os trabalhos começaram no Bairro de Lourdes e também passaram pelo Filostro Machado, Jardim Primavera e Boa Vista.

A meta é vistoriar cerca de dez mil imóveis. Nas visitas, os moradores também foram orientados sobre como manter a comunidade livre das doenças transmitidas pelo mosquito.

O secretário de saúde, Luiz Carlos Teixeira, lembra que as ações de combate ao mosquito aedes são contínuas e que apenas são intensificadas com o início das chuvas. “Nesse momento é importante buscar novas parcerias, como a que temos com o Corpo de Bombeiros. Mas nossa maior parceira deve ser a população”, disse.
        </p>
   </div>
 </div>
</ion-content>
</ion-view>
