<ion-view>
 <ion-nav-bar class="bar-stable det_page">
        <ion-nav-buttons side="right" >
            <button class="button button-icon button-clear back_btn" ng-click="myGoBack()">
              <img src="img/arrow.png"/>
            </button>
        </ion-nav-buttons>
  
       
    </ion-nav-bar>
    
        <div ng-class="{'animated slideInRight':search_input}" class="bar bar-subheader">
            <div class="list ser_inpt" ng-if="search_input">
                <label class="item item-input">
                  <input type="text" placeholder="Search">
                </label>
            </div>
        </div>  
             
  <ion-content>
 
 <div class="news_detail">
   <img src="img/vacinacao_site-20170418-180411.jpg"/>
   <div class="padding">
        <p class="title_hosp">Prefeitura realiza vacinação contra a gripe até dia 26 de maio

A meta é vacinar 95 mil pessoas de acordo com o público-alvo definido pelo Ministério da Saúde.</p>
         
        <p class="text-justify">
             A 19ª Campanha Nacional de Vacinação contra a Gripe começou nesta segunda-feira, 17, e as vacinas estão disponíveis em todas as unidades de saúde do município. Uma novidade nesta edição é a inclusão dos professores no público-alvo. Tanto os professores quanto os profissionais da área de saúde vão receber imunização no próprio local de trabalho. Em Anápolis, a meta é imunizar 95 mil pessoas até o dia 26 de maio.
Integram o grupo prioritário da campanha pessoas a partir de 60 anos, crianças de seis meses a menores de cinco anos, trabalhadores de saúde, professores das redes pública e privada, povos indígenas, gestantes, mulheres até 45 dias após o parto, pessoas privadas de liberdade – o que inclui adolescentes e jovens de 12 a 21 anos em medidas socioeducativas - e os funcionários do sistema prisional. 

Os portadores de doenças crônicas não transmissíveis, que inclui pessoas com deficiências específicas, também devem se vacinar. Este público deve apresentar prescrição médica no ato da vacinação. Pacientes cadastrados em programas de controle das doenças crônicas do Sistema Único de Saúde (SUS) deverão se dirigir aos postos em que estão registrados para receberem a vacina, sem a necessidade de prescrição médica. 
A campanha anual, realizada desde 1999, vem contribuindo ao longo dos anos para a prevenção da gripe nos grupos vacinados. “A imunização apresenta impacto na redução das internações hospitalares, gastos com medicamentos para tratamento de infecções secundárias e mortes evitáveis”, afirma a secretária municipal de saúde, Luzia Cordeiro.
Sobre reações adversas, são necessários alguns esclarecimentos. Após a aplicação da vacina, podem ocorrer, de forma rara, dor no local da injeção, eritema e enrijecimento. São manifestações consideradas benignas, cujos efeitos costumam passar em 48 horas. A vacina é contraindicada para pessoas com história de reação anafilática prévia em doses anteriores ou para pessoas que tenham alergia grave relacionada a ovo de galinha e seus derivados.
A secretária Luzia Cordeiro destaca que a vacinação é uma das medidas mais efetivas para a prevenção da gripe em estágios mais grave e de suas complicações, além de ser uma vacina altamente segura e eficaz. Se você faz parte dos grupos de risco procure o posto de vacinação mais próximo de sua casa e proteja-se. 
        </p>
   </div>
 </div>
</ion-content>
</ion-view>
