<ion-modal-view class="note_modal animated fadeIn ">
    <ion-content class="note_det padding">
       <h3 class="title">
        Note Details
       </h3>
    
      <div class="list toggle_inp">
        <label class="item item-input">
        <input type="text" placeholder="Note title">
        </label>
        <label class="item item-input txt_area">
        <textarea placeholder="Note details" rows="4"></textarea>
        </label>
        <ion-toggle>Time allarm</ion-toggle>
        <div class="row time">
          <div class="col">
            <label class="item item-input">
            <input type="number" value="2">
            </label>
          </div>
          <div class="col">
            <label class="item item-input">
            <input type="number" value="59">
            </label>
          </div>
          <div class="col">
            <label class="item item-input">
            <input type="text" value="AM">
            </label>
          </div>
        </div>


        <button class="button button-block save_btn" ng-click="closenote_detail()">
         Save your note
        </button>
        </div>
    </ion-content>
  </ion-modal-view>