<ion-view hide-nav-bar="true">
  <ion-content class="login_page register_page" scroll="false">
      <div class="logo animated infinite flash">
        <img src="img/logo.png"/>
      </div>
      <form class="log_form">
        <div class="list list-inset">
        <label class="item item-input">
           <input type="text" placeholder="username">
        </label>
        <label class="item item-input">
           <input type="email" placeholder="example@mail.com">
        </label>
        <label class="item item-input">
           <input type="password" placeholder="************">
        </label>
        <label class="item item-input">
           <input type="tel" placeholder="mobile">
        </label>
         <a href="#/tab/doctor" class="button button-block">Sign Up</a>
         <a href="#/login" class="button button-block main_btn">Back</a>
        </div>
    </form>
  </ion-content>
</ion-view>