<ion-view view-title="">
    <div class="bar bar-reader bar-positive">
        <h1 class="title">  Notícias</h1>
    </div>

    <ion-content class="hospital_list" style="background:#fff">

        <div class="container" style="padding-top: 35px;">
            
            <a href="#/tab/news-detail_1"
               collection-item-width="'100%'"
               collection-item-height="220px">

                <div class="news_list" style="background:url('img/vacinacao_site-20170418-180411.jpg')no-repeat; background-size: 100% 100%;">
                    <div class="news_data">
                        <p class="title_hosp">vacinação contra a gripe</p>
                        <p class="parag">
                            A meta é vacinar 95 mil pessoas de acordo com o público-alvo definido pelo Ministério da Saúde.

                        </p>
                    </div>
                </div>
            </a><hr/>               
            <a href="#/tab/news-detail"
               collection-item-width="'100%'"
               collection-item-height="220px">

                <div class="news_list" style="background:url('img/dengue-20161013-172741.jpg')no-repeat; background-size: 100% 100%;">
                    <div class="news_data">
                        <p class="title_hosp">Combate ao aedes aegypti</p>
                        <p class="parag">
                            período chuvoso está de volta e o trabalho de combate ao Mosquito Aedes Aegypti, transmissor de doenças como a dengue, Zika vírus e Chicungunya, volta a ser intensificado com a Força Tarefa
                        </p>
                    </div>
                </div>
            </a><hr/>
            <a href="#/tab/news-detail_1_1"
               collection-item-width="'100%'"
               collection-item-height="220px">

                <div class="news_list" style="background:url('img/alergias.jpg')no-repeat; background-size: 100% 100%;">
                    <div class="news_data">
                        <p class="title_hosp">
                            Dicas de Saúde - Alergias</p>
                        <p class="parag">
                            Os termômetros começam a registrar as quedas de temperatura e logo começam a aparecer os casacos grossos, botas...
                        </p>
                    </div>
                </div>
            </a><hr/>
            
             <a href="#/tab/news-detail_1"
               collection-item-width="'100%'"
               collection-item-height="220px">

                <div class="news_list" style="background:url('img/anuncio.jpg')no-repeat; background-size: 100% 100%;">
                    <div class="news_data">
                        <p class="title_hosp">Espaço para anunciantes</p>
                        <p class="parag">
                            Espaço reservado para clínicas, planos de saúde, farmácias, taxi...

                        </p>
                    </div>
                </div>
            </a>
           
        </div>  
    </ion-content>
</ion-view>
