<ion-view view-title="">
    <div class="bar bar-reader bar-positive">
        <h1 class="title"> Unidades de Saúde </h1>
    </div>
    

    <ion-content class="main_bg hospital_list" style="background:#fff">

        <div class="" style="padding-top: 35px;">
            <a href="#/tab/huana"

               collection-item-width="'100%'"
               collection-item-height="160px">

                <div class="row">

                    <div class="col">
                        <img src="img/huana.jpg"/>
                    </div>

                    <div class="col hospital_data">
                        <div class="padding">
                            <h3>HUANA</h3>
                            <br>
                            Av. Brasil Norte - Cidade Universitária<br>
                            Anápolis - GO, 75083-440
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">



                    <div class="col">
                        <img src="img/santa.jpg"/>
                    </div>
                    <div class="col hospital_data">
                        <div class="padding">
                            <h3>Santa Casa de Misericordia</h3>
                            <br>
                            Av. Visc. de Taunay, 134 - Jundiaí<br>
                            Anápolis - GO, 75110-730
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">

                    <div class="col">
                        <img src="img/postim.png"/>
                    </div>
                    <div class="col hospital_data">
                        <div class="padding">
                            <h3>Unidade de Saúde da Família Boa Vista - São Carlos</h3>
                            <br>  
                            R. 5 - Boa Vista, Anápolis - GO, 75075-320
                        </div>
                    </div>
                </div>
            </a>
        </div>  


    </ion-content>
</ion-view>
