<ion-view>
 <ion-nav-bar class="bar-stable det_page">
     <div class="bar bar-header bar-positive" >
        <h1 class="title">Localização</h1>
    </div>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="right" >
            <button class="button button-icon button-clear back_btn" ng-click="myGoBack()">
                  <img src="img/arrow.png"/>
            </button>
        </ion-nav-buttons>
  
    </ion-nav-bar>
  
           
             
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15315.3545701514!2d-48.948941784268904!3d-16.331186908949753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shospitais+em+anapolis!5e0!3m2!1spt-BR!2sbr!4v1493595483167" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      

</ion-view>
