
<ion-menu ">
  <ion-content>
    <ion-list>
    
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav ></ion-nav>

<ion-tabs class="tabs-icon-top color-active-positive">
        
             <div  style="
      
      z-index: 9999;
      position: absolute; 
      right: 0; 
    bottom: 100px; 
    
        ">
          
      </div>
      
    
  <!-- Dashboard Tab -->
 

  <!-- Chats Tab -->
 

  <!-- Account Tab -->
  <ion-tab href="#/tab/news"  icon-on="ion-navicon-round" icon-off="ion-navicon-round">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

 <!-- Chats Tab -->
  <ion-tab href="#/tab/unidadesDeSaude"  icon-on="ion-medkit" icon-off="ion-medkit">
    <ion-nav-view name="tab-unidadesDeSaude"></ion-nav-view>
  </ion-tab>

  
  

 <ion-tab href="#/tab/localizacao" icon-on="ion-location" icon-off=" ion-location"  >
      <ion-nav-view name="tab-localizacao">
          
          
      </ion-nav-view>
  </ion-tab>
</ion-tabs>
